.weather-header {
    background-image: linear-gradient(to right, cornflowerblue, midnightblue);
    height: 150px;
}

.weather-header h1 {
    padding-top: 40px;
    font-weight: bolder;
}

.input-group {
        display: flex;
        flex-direction: column;
        width: max-content;
    }


h3 {
    font-weight: bolder;
    padding-left: 10px;
}

.history-button {
    margin: 5px;
}

.forecast-card {
    background-color: rgb(30, 51, 72);
    color: white;
    padding: 35px;
}

#search-button {
    margin-top: .5rem;
}

